* {
  box-sizing: border-box;
}


.head {
  @include font_top();
  @include wide_high(100vw, 100px);
  z-index: 50;
  background-color: #eeeeee;
  border-bottom: 4px solid $color_accent;
  position: fixed;
  padding: 0 160px;
  line-height: 100px;
  display: flex;
  justify-content: space-between;
  .head_left {
    .top_page {
      @include font_s_c(40px, #000000);
      text-decoration: none;
    }
  }
  .head_right { 
    display: flex;
    .login_btn {
      @include wide_high(100px);
      display: block;
      cursor: pointer;
      text-align: center;
      .user_login {
        @include font_s_c(15px, $color_accent);
        text-decoration: none;
      }
    }
    .login_btn:hover {
      background-color: $color_accent;
      .user_login {
        @include font_s_c(15px, $color_base);
        text-decoration: none;
      }
    }
    .join_btn {
      @include wide_high(100px);
      cursor: pointer;
      text-align: center;
      .user_join {
        text-decoration: none;
        color: $color_accent;
      }
    }
    .join_btn:hover {
      background-color: $color_accent;
      .user_join {
        text-decoration: none;
        color: $color_base;
      }
    }
  }
}

.contents{
  padding-top: 100px;
  overflow: scroll;
  @include wide_high(100vw,100%);
  &__top{
    @include wide_high(calc(100vw - 320px),300px);
    @include info();
    @include food_img();
    position: relative;
    margin: 10px 160px 0px;
    .search{
      @include shadow();
      form{
        display: flex;
        float: right;
        padding: 100px 100px;
        .keyword{
          @include wide_high(300px,60px);
          border: 2px solid $color_accent;
          border-radius: 7px;
          background-color:rgba(255,255,255,0.75);
        }
        .send{
          @include wide_high(120px,60px);
          margin-left: 20px;
          background-color: $color_accent;
          color: $color_base;
          border: 2px solid $color_accent;
          border-radius: 7px;          
        }
      }
    }  
  }

  &__center{
    @include wide_high(calc(100vw - 320px),400px);
    @include info();
    @include food_img();
    position: relative;
    margin: 10px 160px 0px;
    
    .find{
      @include shadow();
      form{
        display: flex;
        float: right;
        padding: 100px 100px;
        .category{
          @include find_form();
        }
        .atom{
          @include find_form();
        }
        .cost{
          @include find_form();
        }

        .find_btn{
          @include wide_high(120px,60px);
          margin-left: 20px;
          background-color: $color_accent;
          color: $color_base;
          border: 2px solid $color_accent;
          border-radius: 7px;
          
          letter-spacing: 0.1em;

        }
     
      }
    }
  }

  &__ranking{
    @include wide_high(calc(100vw - 320px),680px);
    @include info();
    @include food_img();
    position: relative;
    margin: 10px 160px 10px;
    .ranking{
      @include shadow();
    }
  }
  
}

.foot{
  @include font_top();
  @include wide_high(100%, 50px);
  @include font_s_c(12px, $color_base);
  position: relative;
  bottom: 0px;
  background-color: $color_accent;
  line-height: 50px;
  text-align: center;
  z-index: 50;
}